### Update and Delete Statement ( SQL ) + Where clause

In [ ]:
Sintax

UPDATE [Table name]
SET [[ColumnName] = [Value]]
<WHERE[Condition]>

In [ ]:
Exemplo

UPDATE AUTHOR
SET     LASTNAME = GRANDE
        FIRSTNAME = ARIANA
WHERE AUTOR_ID = A2

Delete statement

In [ ]:
Sintax

DELETE from [TABLENAME]
WHERE[Condition]

In [ ]:
Exemplo

DELETE FROM  AUTHOR
WHERE AUTOR_ID IN('A2','A3')

If no where clause is used, all rows are deleted