## Examples in CREATE and DROP tables

In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading https://files.pythonhosted.org/packages/ab/df/427e7cf05ffc67e78672ad57dce2436c1e825129033effe6fcaf804d0c60/ipython_sql-0.3.9-py2.py3-none-any.whl',
 'Collecting sqlparse (from ipython-sql)',
 '  Downloading https://files.pythonhosted.org/packages/ef/53/900f7d2a54557c6a37886585a91336520e5539e3ae2423ff1102daf4f3a7/sqlparse-0.3.0-py2.py3-none-any.whl',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython-sql) (1.2.7)',
 'Requirement already satisfied: six in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython-sql) (1.11.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython-sql) (6.4.0)',
 'Collecting prettytable (from ipython-sql)',
 '  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: pygments in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)',
 'Requirement already satisfied: jedi>=0.10 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.12.0)',
 'Requirement already satisfied: pickleshare in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (39.1.0)',
 'Requirement already satisfied: simplegeneric>0.8 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)',
 'Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.15 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)',
 'Requirement already satisfied: colorama; sys_platform == "win32" in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)',
 'Requirement already satisfied: traitlets>=4.2 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)',
 'Requirement already satisfied: backcall in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)',
 'Requirement already satisfied: decorator in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (4.3.0)',
 'Requirement already satisfied: parso>=0.2.0 in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: wcwidth in c:\\users\\jvbfc\\anaconda3\\lib\\site-packages (from prompt-toolkit<2.0.0,>=1.0.15->ipython>=1.0->ipython-sql) (0.1.7)',
 'Building wheels for collected packages: prettytable',
 '  Running setup.py bdist_wheel for prettytable: started',
 "  Running setup.py bdist_wheel for prettytable: finished with status 'done'",
 '  Stored in directory: C:\\Users\\jvbfc\\AppData\\Local\\pip\\Cache\\wheels\\80\\34\\1c\\3967380d9676d162cb59513bd9dc862d0584e045a162095606',
 'Successfully built prettytable',
 'distributed 1.21.8 requires msgpack, which is not installed.',
 "jupyterlab-server 1.0.0 has requirement jsonschema>=3.0.1, but you'll have jsonschema 2.6.0 which is incompatible.",
 'Installing collected packages: sqlparse, prettytable, ipython-sql',
 'Successfully installed ipython-sql-0.3.9 prettytable-0.7.2 sqlparse-0.3.0',
 'You are using pip version 10.0.1, however version 19.3.1 is available.',
 "You should consider upgrading via the 'python -m pip install --upgrade pip' command."]

In [4]:
% load_ext sql

In [5]:
%sql sqlite://

'Connected: @None'

### General syntax to create a table:

In [19]:
%%sql
create table TABLENAME (
    COLUMN1 datatype,
    COLUMN2 datatype,
    COLUMN3 datatype,
        ...
    ) ;

 * sqlite://
(sqlite3.OperationalError) near ".": syntax error [SQL: 'create table TABLENAME (\n    COLUMN1 datatype,\n    COLUMN2 datatype,\n    COLUMN3 datatype,\n        ...\n    ) ;'] (Background on this error at: http://sqlalche.me/e/e3q8)

### To create a table called TEST with two columns - ID of type integer, and Name of type varchar, we could create it using the following SQL statement:

In [14]:
%%sql
create table TEST (
    ID integer,
    NAME varchar(30)
    );

 * sqlite://
Done.

[]

### Now let's create a table called COUNTRY with an ID column, a two letter country code column, and a variable length country name column:

In [20]:
%%sql
create table COUNTRY (
    ID int,
    CCODE char(2),
    NAME varchar(60)
    );

 * sqlite://
Done.

[]

In [22]:
%%sql
create table COUNTRY (
    ID int NOT NULL,
    CCODE char(2),
    NAME varchar(60),
    PRIMARY KEY (ID)
    );

 * sqlite://
(sqlite3.OperationalError) table COUNTRY already exists [SQL: 'create table COUNTRY (\n    ID int NOT NULL,\n    CCODE char(2),\n    NAME varchar(60),\n    PRIMARY KEY (ID)\n    );'] (Background on this error at: http://sqlalche.me/e/e3q8)

### In the above example the ID column has the "NOT NULL" constraint added after the datatype - meaning that it cannot contain a NULL or an empty value. If you look at the last row in the create table statement above you will note that we are using ID as a Primary Key and the database does not allow Primary Keys to have NULL values. A Primary Key is a unique identifier in a table, and using Primary Keys can help speed up your queries significantly.

### If the table you are trying to create already exists in the database, you will get an error indicating "table XXX.YYY already exists". To circumvent this error, either create a table with a different name or first DROP the existing table. It is quite common to issue a DROP before doing a CREATE in test and development scenarios.

### Here is an example:

In [21]:
%%sql 

drop table COUNTRY;
create table COUNTRY (
    ID integer PRIMARY KEY NOT NULL,
    CCODE char(2),
    NAME varchar(60)
    );

 * sqlite://
Done.
Done.

[]

In [9]:
%%sql
CREATE TABLE CARTOON(firstname varchar(50), lastname varchar(50));
INSERT INTO CARTOON VALUES("daffy", "duck");
INSERT INTO CARTOOM VALUES("Mickey", "Mouse");
SELECT * from CARTOON;

 * sqlite://
(sqlite3.OperationalError) table CARTOON already exists [SQL: 'CREATE TABLE CARTOON(firstname varchar(50), lastname varchar(50));'] (Background on this error at: http://sqlalche.me/e/e3q8)