DML - Data Manipulation Statement (SQL)

Insert Statement - add rows to the table _Don't run the cells_

In [ ]:
Sintax: 

INSERT INTO (TABLE NAME)
<([Column Name], ... )>
VALUES([VALUE], ... )

In [ ]:
Example

INSERT INTO AUTHOR
(AUTHOR_ID, LASTNAME, FIRSTNAME, EMAIL CITY, COUNTRY)
VALUES
('A1', 'CHONG', 'RAUL', 'RFC@GMAIL.COM', 'TORONTO', 'CA')

In [ ]:
you can inset multiple rows

INSERT INTO AUTHOR
(AUTHOR_ID, LASTNAME, FIRSTNAME, EMAIL CITY, COUNTRY)
VALUES
('A1', 'CHONG', 'RAUL', 'RFC@GMAIL.COM', 'TORONTO', 'CA'),
('A2', 'DAMON', 'MATT', 'GHT@GMAIL.COM', 'NYC', 'US')